<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7  welcome-section">
        <h1>Te doy la bienvenida a mi Portfolio</h1>
        <p>
            Skilled software development professional bringing
            great talents for software design, development and
            integration. Passionate about learning new technologies.
            Background writing code and developing web
            application
        </p>
    </div>
</div>