@model IEnumerable<Project>

@if (Model is not null)
{
    <div class="text-center" style="padding-top:6rem">
        <h1>Mis trabajos mas recientes:</h1>
    </div>

    <partial name="_ProjectsList" model="Model"/>
}