
<div style="margin-top:-5rem">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white skills" style="border-radius:15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-palette-fill" style="font-size:30px"></i>
            <h3>Lenguajes utilizados</h3>
            <p>Tengo experiencia utilizando los siguientes lenguajes para el desarrollo de aplicaciones.</p>
            <ul>
                <li>C</li>
                <li>C#</li>
                <li>Java</li>
                <li>Javascript</li>
                <li>Python</li>
            </ul>

        </div>
        <div class="col col-3 bg-white skills" style="border-radius:0 15px 15px 0 ; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-code-square" style="font-size:30px"></i>
            <h3>
                Experiencia en:
            </h3>
            <p>Ademas de la programacion, tambien poseo habilidades como las siguientes.</p>
            <ul>
                <li>Manejo de bases de datos en MySQL</li>
                <li>Uso de servidores en sistemas Linux</li>
                <li>Desarrollo de Web APIs Restful</li>
            </ul>

        </div>
    </div>
</div>